@font-face {
  font-family: "OpenSans";
  font-weight: regular;
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  src: url('fonts/OpenSans-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --colPrimary: rgb(0, 142, 224);
  --colLight: #e2e2e2;
  --colRods: #979797;
  --colInfoPopupBackground: #eeeeee;
  --colWhite: white;
  --colError: #ff3131;
  --colEditorBackground: #202020;
  --colEditorForeground: #404040;

  --rodWidth: 160px;
  --rodHeight: 50vh;
  --rodWrapperHeight: calc(var(--rodHeight) + 7rem);
  --editorWidth: 30vw;
  --editorFontSize: 16px;

  --shadow: 0 8px 7px -5px rgba(0, 0, 0, .2);
  --shadowEditor: 0 -10px 20px black;
  --shadowPopup: 0 20px 10px -10px rgba(0, 0, 0, .2);

  height: 100vh;
  font-family: "Open Sans";
  font-size: 14px;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: 5rem calc(100vh - 9rem) 4rem;
  grid-template-columns: calc(100vw - var(--editorWidth)) var(--editorWidth);
  grid-template-areas:
    "header aside" "main aside" "footer aside";
}

header {
  padding: 2rem 0 0 4rem;
}

footer {
  padding: 1rem 1rem 1rem 4rem;
  grid-area: footer;
}

footer a:link,
footer a:hover,
footer a:active,
footer a:visited {
  color: var(--colPrimary);
}

.info-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: none;
  width: 800px;
  max-width: 100vw;
  height: 500px;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 2rem;
  background: var(--colInfoPopupBackground);
  box-shadow: var(--shadowPopup);
}

.curtain {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .9);
  z-index: 10;
}

.info-popup.active, .curtain.active {
  display: block;
}

.info-popup kbd {
  display: inline-block;
  padding: .2rem .5rem;
}

.info-popup ul {
  padding-left: 2rem;
  margin: 0.5rem 0;
}

.info-popup ul li {
  margin: 0.5rem 0;
}

.info-popup h3 {
  margin-bottom: 1rem;
}

.info-popup article {
  margin: 2rem 0;
}

.info-popup article:first-of-type {
  margin-top: 0;
}

.info-popup article:not(:last-of-type) {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--colRods);
}

.editor-instruction code {
  font-weight: bold;
}

.editor-instruction .CodeMirror-wrap {
  height: auto;
  margin-top: .5rem;
}

main {
  display: grid;
  grid-area: main;
  grid-template-columns: repeat(100, 1fr);
  padding: 4rem;
  width: calc(100vw - var(--editorWidth));
  height: 100%;
  max-height: 100%;
  overflow-x: auto;
}

.rod-wrapper {
  margin: auto .5rem;
  padding: .5rem;
  height: var(--rodWrapperHeight);
  max-height: var(--rodWrapperHeight);
  position: relative;
  height: auto;
}

.rod-wrapper.active {
  box-shadow: 0 0 5px var(--colPrimary);
}

.rod-wrapper:not(.active) button.removeRod {
  opacity: 0;
}

.rod {
  width: var(--rodWidth);
  height: var(--rodHeight);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to right, transparent, transparent calc(50% - .5rem), var(--colRods) calc(50% - .5rem), var(--colRods) calc(50% + .5rem), transparent calc(50% + .5rem));
  border-bottom: 1rem solid var(--colRods);
}

.rod-index {
  text-align: center;
}

.slice {
  width: var(--rodWidth);
  height: 2rem;
  margin-bottom: 4px;
  background: var(--colPrimary);
}

.actions {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
}

.actions .leftButton {
  border-radius: 2rem 0 0 2rem;
}

.actions .rightButton {
  border-radius: 0 2rem 2rem 0;
}

button, kbd {
  font-family: "Open Sans";
  display: inline-block;
  padding: .5rem 1rem;
  border: 2px solid var(--colPrimary);
  color: var(--colPrimary);
  background-color: var(--colWhite);
  box-shadow: var(--shadow);
  font-weight: bold;
}

button.btn-block {
  display: block;
  width: 100%;
}

button.removeRod {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  line-height: 12px;
}

.addRod-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.addRod {
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  line-height: 12px;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  background: var(--colLight);
  border-left: none;
  border-right: none;
}

aside .runButton {
  width: 100%;
  border-left-width: 6px;
  background: var(--colPrimary);
  color: var(--colWhite);
}

.CodeMirror {
  font-size: var(--editorFontSize);
}

.editor .CodeMirror-wrap {
  display: block;
  border-top: 2rem solid var(--colPrimary);
  min-height: 60vh;
  flex-grow: 1;
}

.notification {
  position: relative;
  padding: 1rem;
  padding-left: 2.5rem;
  background: var(--colEditorForeground);
  color: var(--colWhite);
  overflow: hidden;
}

.error:before {
  content: "⚠";
  padding: 0 .5rem 0 0;
  color: var(--colError);
  font-family: monospace;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* TODO: Hide unnecessary parts on the mobile page */

@media screen and (max-width: 800px),
       screen and (orientation: portrait) {

  #app {
    display: flex;
    flex-direction: column;
  }

  main, header, footer {
    padding: 1rem;
  }

  header, footer {
    text-align: center;
  }

  aside {
    display: none;
  }

  main {
    width: 100vw;
  }

  .rod-wrapper.active {
    box-shadow: none;
  }

  .rod-wrapper:not(.active) button.removeRod {
    opacity: 1;
  }

  .info-popup {
    max-width: 90vw;
    padding: 2rem;
  }

  .info-popup ul {
    padding-left: 0;
  }

  .shortcut-instruction,
  .algorithm-panel-instruction {
    display: none;
  }

  .info-popup article.editor-instruction {
    margin: 0;
    padding-bottom: 2rem;
    border-bottom: none;
  }
}