<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stabmaschine</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="style.css">

</head>
<body>
  <div id="app">
    <header>
      <h1>Stabmaschine</h1>
      <p>Repräsentation der natürlichen Zahlen</p>
    </header>

    <aside>
      <h2>Steuerung</h2>
      <button @click="addRod" class="btn-block">Stab hinzufügen</button>
      <button @click="removeRod" class="btn-block">Stab entfernen</button>
    </aside>

    <main>
      <section
        v-for="(rod, index) in rods"
        v-bind:class="{ 'rod-wrapper': true, active: index == activeRodIndex }"
        @click="activeRodIndex = index">
        <div class="rod">
          <div v-for="x in rod.sliceCount" class="slice"></div>
        </div>
        <div class="actions">
          <button @click="remove(rod)">-</button>
          <button @click="add(rod)">+</button>
        </div>
      </section>
    </main>

    <footer>
      &copy; {{ currentYear }} Florian Knoch
    </footer>
  </div>
</body>
</html>