<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stabmaschine</title>

  <script src="js/vue.js"></script>
  <script src="js/codemirror.js"></script>
  <script src="js/codemirror-javascript.js"></script>
  <script src="js/app.js"></script>

  <link rel="stylesheet" href="css/codemirror.css">
  <link rel="stylesheet" href="css/codemirror-mdn-like.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <div id="app">
    <header>
      <h1>Stabmaschine</h1>
      <p>Repräsentation der natürlichen Zahlen</p>
    </header>

    <section v-bind:class="{ active: isManualActive, 'info-popup': true }">
      <h2>Steuerung</h2>

      <ul>
        <li>
          <kbd>&#8680;</kbd> oder <kbd>D</kbd>: Nächsten Stab fokussieren
        </li>
        <li>
          <kbd>&#8678;</kbd> oder <kbd>A</kbd>: Vorherigen Stab fokussieren
        </li>
        <li>
          <kbd>&#8679;</kbd> oder <kbd>W</kbd>: Scheibe zu aktivem Stab hinzufügen
        </li>
        <li>
          <kbd>&#8681;</kbd> oder <kbd>S</kbd>: Scheibe von aktivem Stab entfernen
        </li>
        <li>
          <kbd>+</kbd>: Stab hinzufügen
        </li>
        <li>
          <kbd>Delete</kbd>, <kbd>Backspace</kbd> oder <kbd>-</kbd>: Ausgewählten Stab löschen
        </li>
      </ul>
    </section>

    <div @click="hideManual()" v-bind:class="{ curtain: true, active: isManualActive }"></div>

    <main>
      <section
        v-for="(rod, index) in rods"
        v-bind:class="{ 'rod-wrapper': true, active: index == activeRodIndex }"
        @click="activeRodIndex = index">

        <div class="rod">
          <div v-for="x in rod.sliceCount" class="slice"></div>
        </div>

        <div class="actions">
          <button @click="remove(rod)" class="leftButton">&#9866;</button>
          <button @click="add(rod)" class="rightButton">&#10010;</button>
        </div>

        <button v-if="index == activeRodIndex" @click="removeRod(index)" class="removeRod">&#10008;</button>
      </section>

      <section class="addRod-button-wrapper">
        <button @click="addRod" class="addRod">&#10010;</button>
      </section>
    </main>

    <aside class="editor">
      <h2>Algorithmus</h2>
      <!-- <p>TODO: Add some information</p> -->
      <!-- <p class="error">TODO: Add error information</p> -->
      <textarea id="editor"></textarea>
      <button @click="runCode()">Ausführen</button>
      <!-- TODO: Auf Strg + R ausführen -->
    </aside>

    <footer>
      &copy; {{ currentYear }} Florian Knoch - <a href="#" @click="showManual()">Bedienungshinweise</a>
    </footer>
  </div>
</body>
</html>