<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stabmaschine</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="style.css">

</head>
<body>
  <header>
    <h1>Stabmaschine</h1>
    <p>Repräsentation der natürlichen Zahlen</p>
  </header>

  <main>
    <section v-for="rod in rods" class="rod-wrapper">
      <div class="rod">
        <div v-for="x in rod.sliceCount" class="slice"></div>
      </div>
      <div class="actions">
        <button @click="add(rod)">+</button>
        <button @click="remove(rod)">-</button>
      </div>
    </section>
  </main>

  <footer id="footer">
    &copy; {{ currentYear }} Florian Knoch
  </footer>
</body>
</html>